.App {
  text-align: center;
  margin-top: 50px;
}

textarea {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

button {
  padding: 10px 20px;
  margin-bottom: 20px;
}

.error {
  color: red;
  font-weight: bold;
}

label {
  margin: 0 10px;
}
